#map {
    height: 500px;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.background {
    background: #3e6491;
    height: 1500px;
}

.sbar {
    background: #537eb1; /*#1c1c1e;*/
    height: 80px;
}

.sbar input {
    width: 88%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2%;
    padding-left: 5px;
    font-size: 25px;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;  
}

#search {
    color: white;
    font-size: 25px;
    margin-left: 5px;
}

#search:hover {
    cursor: pointer;
}

#down {
    float: left;
    font-size: 35px;
    margin-right: 10px;
    cursor: pointer;
}

.favorites {
    height: 50px;
    width: 97.5%;
    background: #537eb1;
    margin: 20px 0 20px 0;
    padding-left: 2.5%;
}

.favorites h3 {
    padding: 15px 0;
    font-size: 22px;
}

#star {
    margin-left: 7px;
}

#star:hover {
    color: white;
    cursor: pointer;
}

#favstop {
    display: none;
}

.allstops {
    height: 50px;
    width: 97.5%;
    background: #537eb1;
    padding-left: 2.5%;
}

.allstops h3 {
    padding-top: 12px;
    font-size: 22px;
}
.stop {
    margin: 20px 2%;
    height: 150px;
    border: 5px solid #537eb1;
    border-left-color: white;
    border-left-width: 10px;
    padding-left: 15px;
    padding-right: 15px;
/*    background: #537eb1;*/
}

.stop h3 {
    font-size: 25px;
    margin-bottom: 0;
}

.stop h3:hover {
    color: #1c1c1e;
    cursor: pointer;
}

#time1 {
    color: white;
    font-size: 30px;
    float: right;
    text-align: center;
    border-radius: 50%;
    border: 2px solid white;
    width: 75px;
    height: 75px;
    padding: 15px; 
    margin: 0 5px; 
    font-weight: 600;
}

#time2 {
    color: white;
    font-size: 25px;
    float: right;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #aeaeae; /*white*/
    width: 60px;
    height: 60px;
    padding: 15px; 
    margin: 7px 5px; 
    font-weight: 600;
}

.dest {
    font-size: 20px;
    color: #1c1c1e;
    margin-top: 20px;
}

#arrow {
    margin-left: 20px;
    margin-right: 10px;
    color: #1c1c1e;

}


@media screen and (max-width: 625px) {
/*    #map {
        height: 400px;
    }*/
    #time1 {
        width: 60px;
        height: 60px;
        font-size: 25px;
        margin-top: 10px;
    }
    #time2 {
        width: 45px;
        height: 45px;
        font-size: 20px;
        margin-top: 17px;
    }

    .stop h3, .favstop h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 545px) {
    #time1 {
        width: 50px;
        height: 50px;
        font-size: 20px;
        margin-top: 15px;
    }
    #time2 {
        width: 40px;
        height: 40px;
        font-size: 18px;
        margin-top: 22px;
    }

    #arrow {
        margin-left: 0;
    }
    .stop h3, .favstop h3 {
        font-size: 17px;
    } 

    .dest {
        font-size: 17px;
    }

    .sbar input {
        width: 80%;
    }
}

/*@media screen and (max-width: 515px) {


    #time1 {
        width: 35px;
        height: 35px;
        font-size: 15px;
        margin-top: 20px;
    }
    #time2 {
        width: 30px;
        height: 30px;
        font-size: 12px;
        margin-top: 25px;
    }
}*/