body {
    margin: 0;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
}
.header {text-align: center; width: 100%; height: 100px; background: #537eb1;}
.logo {height: 80px; margin: 10px auto;}
#menu-ham {float: right; font-size: 50px; margin: 25px 15px; color: white; cursor: pointer;}
.menu {
    width: 50%;
    height: 100%;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 1px 0 5px #c0c0c0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.menu ul {padding-left: 0; margin-top: 100px;}
.menu li {
    list-style: none;
    text-decoration-style: none;
    line-height: 170%;
    padding: 10px 0 10px 30px;
    border-top: 2px solid #ededed;
}
.menu li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: black;
    font-weight: 600;
}
.menu li a:hover {color: #a6a6a6; cursor: pointer;}
.menu-icon {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 22px;
    color: #3e6491;;
    margin-right: 7px;
}
.sub-menu {display: none;}
.sub-menu li {line-height: 100%; margin-left: 37px; margin-right: 37px;}
.sub-menu a {text-decoration: none; color: black;}
.sub-menu a:hover {color: #a6a6a6; cursor: pointer;}
.footer {
    padding-top: 20px;
    height: 150px;
    width: 100%;
    background: #537eb1;
    text-align: center;
}
.footer h1 {margin-top: 0;}
.footer a {text-decoration: none; color: black;}
.footer a:hover {color: #1c1c1e;}